.App {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-height: 500px;
}
#welcome{
  color: rgba(255,255,255,0.85);
  font-size: 1.75em;
  font-weight: bold;
  width: 75%;
  margin:auto;
  max-width: 600px;
  position: relative;
  top: 55px;
  z-index: -1;
}
#markup{
  animation:flash 2s linear infinite;
}
@keyframes flash{
  0%{
    color:#F6C936;
    text-shadow: 0px 0px 20px #F6C936;
    opacity:1; 
  }
    25%{
    color:#F6C936;
    text-shadow: 0px 0px 20px #F6C936;
    opacity:0.5; 
  }
    50%{
    color:#F6C936;
    text-shadow: 0px 0px 20px #F6C936;
    opacity:0;
  }
    75%{
    color:#F6C936;
    text-shadow: 0px 0px 20px #F6C936;
    opacity:0.5;
  }
    100%{
    color:#F6C936;
    text-shadow: 0px 0px 20px #F6C936;
    opacity:1; 
  }
}
@keyframes timeout{
  0%{
    transform: translateX(-100%);
    background: orange;
  }
  10%{
    transform: translateX(-80%);
    background: white;
  }
  20%{
    transform: translateX(-60%);
    background: black;
  }
  30%{
    transform: translateX(-40%);
    background: orange;
  }
  40%{
    transform: translateX(-20%);
    background: green;
  }
  50%{
    transform: translateX(0%);
    background: grey;
  }
  60%{
    transform: translateX(-20%);
    background: indigo;
  }
  70%{
    transform: translateX(-40%);
    background: orange;
  }
  80%{
    transform: translateX(-60%);
    background: blue;
  }
  90%{
    transform: translateX(-80%);
    background: yellow;
  }
  100%{
    transform: translateX(-100%);
    background: #17a2b8;
  }
}

.pag{
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.5);
}

.pag .times{
  width: 100%;
  height: 100%;
  background: orange;
  transform: translateX(-100%);
  animation: 40s timeout infinite;
}
#main-footer{
  position:absolute;
  top:calc(100% - 24px); 
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  background: rgba(0,0,0,0.3);
  color: rgba(255,255,255,0.5);
  height: 24px;
  align-items: center;
}
.slogan{
  animation:1.5s bounce linear infinite;
  font-size: 16px;
}
@keyframes bounce{
  0%{
    transform:translateY(0);
     color: rgba(255,255,255,0.5);
  }
  15%{
    transform:translateY(-20px);
    color:#F6C936; 
  }
  40%{
    transform:translateY(0);
     color: rgba(255,255,255,0.5);
  }
  70%{
    transform:translateY(-5px);
     color:#F6C936; 
  }
  100%{
    transform:translateY(0);
     color: rgba(255,255,255,0.5);
  }
}